html {
    font-size: 20px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: placeholder; /*this should be the rest of the output you got from Google fonts*/
  }

h1 {
    font-size: 60px;
    text-align: center;
  }

h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 5px black;
}

h2,h3,h4{
    text-shadow: 3px 3px 1px rgb(240, 205, 9);
}
  
p, li {   
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

img {
    display: block;
    margin: 0 auto;
  }

html {
    background-color: rgb(245, 229, 194);
  }

body {
    width: 1280px;
    margin: 20 auto;
    background-color: #e9f0f8;
    padding: 0 20px 20px 20px;
    border: 1px solid rgb(2, 180, 250);
  }